*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
header{
  
 background-image: url('images/banner/banner1.png');
 padding: 12% 0%;;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;


}
.banner{
    width: 1200px;
    margin: auto;
    text-align: right;
}
.bannerh{

font-size: 65px;

font-weight: 700;

line-height: 80px;

margin-bottom: 25px;
}
.bannerp{

font-size: 16px;

color: #444343;

font-weight: 400;

line-height: 1.6;
}
.btn{background: #F15B22;padding: 20px 35px;color: #fff;border-radius: 5px;border: none;font-size: 18px;font-weight: 600;margin-top: 25px;}




/* second sec */

main{
 margin: auto;
 padding: 130px 0px;
 width: 1200px;
}

.secondsec{

display: flex;

align-items: center;
}
.imagesec{

}
.textsec{

margin-left: 100px;
}
.textsech{

font-weight: 700;

font-size: 40px;

line-height: 55px;

margin-bottom: 28px;

color: #000000;
}
.textsecp{

font-size: 16px;

line-height: 1.7rem;

color: #444343;


}
ul{

margin: 20px 0px;
}
li{

list-style: none;

margin-bottom: 5px;
}
.icons{
    
color: #95ff95;
    
font-size: 19px;
    
margin-right: 5px;
}


/* 3rd sec */

.thirdsection{

text-align: center;

padding: 100px 0px;
}
.fourbox{

display: flex;

justify-content: space-between;

gap: 20px;
}
.box{

}

.boxh{

color: #151414;

font-size: 30px;

margin: 20px 0px;
}
.boxp{
    
color: #737272;
    
font-size: 25px;
}